<div class="container-fluid" id="mainContentContainer">
  <div id="savedBoardsContainer">
    <div class="boardContentBanner" id="savedBoardsBanner">
      <span class="boardBannerTitle" id="savedBoardTitle">Saved Whiteboards</span>
      <div class="boardToolsContainer" id="savedBoardTools">
        <img class="boardToolView boardTool highlight" alt="Switch the content view"
             src="public/images/boardListView.png"/>
        <img class="boardToolAddNew boardTool highlight" alt="Create a new board" src="public/images/addNewBoard.png"
             ng-click="openBoardDialog()"/>
      </div>
    </div>
    <div class="boardContentContent" id="savedBoardContet">
        <!----<div class="table" id="saveWhiteboardsTable">
            <div id="header"></div>
            <div id="item1"
        </div>-->
      <a ng-repeat="whiteboard in whiteboards" href="board/{{whiteboard.id}}">
        {{whiteboard.name}}
      </a>
    </div>
  </div>
  <div id="sharedBoardsContainer">
    <div class="boardContentBanner" id="sharedBoardsBanner">
      <span class="boardBannerTitle" id="sharedBoarTitle">Shared Whiteboard</span>
      <div class="boardToolsContainer" id="sharedBoardTools">
        <img class="boardToolView boardTool highlight" alt="Switch the content view"
             src="public/images/boardListView.png"/>
        <!--<img class="boardToolAddNew" alt="Create a new board" src="public/images/addNewBoard.png" onmouseover="highlightButton(this)" onmouseout="unhighlightButton(this)" />-->
      </div>
    </div>
    <div class="boardContentContent" id="sharedBoardsContent">
      <a ng-repeat="whiteboard in sharedWhiteboards" href="board/{{whiteboard.id}}">
        {{whiteboard.name}}
      </a>

    </div>
  </div>
  <div id="invitations"></div>
</div>

<div id="windowPrompt" ng-class="{'visible': isDialogOpen, 'hidden': !isDialogOpen}"></div>
<div id="newBoardPropertiesWindow" ng-class="{'visible': isDialogOpen, 'hidden': !isDialogOpen}">
  <div id="newBoardPropertiesBanner">
    <span id="newBoardPropTitle">Create New Whiteboard</span>
  </div>
  <div id="newBoardPropertiesContent">
    <div id="nameEntryContainer">
      <span id="boardNamePrompt">Whiteboard Name: </span>
      <input type="text" id="boardNameEntry" ng-model="newBoardName"/>
    </div>
    <div id="buttonContainer">
      <button id="cancelNewBoardButton" ng-click="cancelNewBoard()">Cancel</button>
      <button id="okNewBoardButton" ng-click="createNewBoard()">OK</button>
    </div>
  </div>
</div>

<img id="logo" style="position:absolute; bottom:0px; right:0px; height:50px; width:50px;"
     src="public/images/collab.png"/>

<script type="text/javascript">
  //Change the height of the containing div
  document.getElementById("mainContentContainer").parentElement.style.height = "100%";

  function highlightButton(button) {
    button.style.border = " 1px solid #686868";
  }

  function unhighlightButton(button) {
    button.style.border = "0px";
  }

  function createNewBoard(button) {
    document.getElementById("windowPrompt").style.visibility = "visible";
    document.getElementById("newBoardPropertiesWindow").style.visibility = "visible";
    document.getElementById("main")
  }

  function cancelNewBoard() {
    document.getElementById("windowPrompt").style.visibility = "hidden";
    document.getElementById("newBoardPropertiesWindow").style.visibility = "hidden";
    document.getElementById("boardNameEntry").value = "";
  }
</script>

